.spinner-loader {
  width: 12px;
  height: 12px;
  box-shadow: 0 20px, 0 -20px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: var(--neutral-500);
  transform: translateY(20px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}

.spinner-loader::after,
.spinner-loader::before {
  content: '';  
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  box-shadow: 0 20px, 0 -20px;
  border-radius: 4px;
  background: currentColor;
  color: var(--neutral-500);
  position: absolute;
  left: 20px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}

.spinner-loader::before {
  animation-delay: 0.4s;
  left: 44px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: var(--neutral-500);
  }
  50% {
    top: 20px;
    color: var(--neutral-300);
  }
  100% {
    top: 0;
    color: var(--neutral-500);
  }
}
